@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: hsl(222, 26%, 31%);
}

#panel {
    margin: 10px;
    padding: 10px;
    width: 420px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: hsl(222, 26%, 31%);
}

#upper-controls {
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#upper-controls p {
    color: white;
}

#slider {
    display: flex;
    align-items: center;
}

#layout-title {
    margin-right: 20px;
}

#layout {
    display: flex;
    flex-direction: column-reverse;
    width: 60px;
}

#indicators {
    display: flex;
    justify-content: space-around;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
    font-size: small;
}

#slider-input,
#slider-input::-webkit-slider-runnable-track,
#slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
}

#slider-input {
    --trackbackg: hsl(223, 31%, 20%);
    --thumbbackg: hsl(6, 63%, 50%);
    margin: 0px;
    width: 60px;  
}

#slider-input::-webkit-slider-runnable-track {
    background-color: var(--trackbackg);
    border-radius: 50px;
    height: 20px;
    width: 40px;
    border-style: solid;
    border-color: var(--trackbackg);
}

#slider-input::-webkit-slider-thumb {
    background-color: var(--thumbbackg);
    width: 14px;
    height: 14px;
    border-radius: 100%;
    margin-top: 0px;
}

#data {
    background-color: hsl(224, 36%, 15%);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 80px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow: auto;
    overflow-y: hidden;
}

#data::-webkit-scrollbar {
    width: 12px;
    height: 16px;
    position: sticky;
}

#data::-webkit-scrollbar-track {
    width: 12px;
    height: 16px;
    background-color: hsl(224, 36%, 15%);
    border-radius: 7px;
}

#data::-webkit-scrollbar-thumb {
    width: 12px;
    height: 16px;
    border: 3px solid hsl(224, 36%, 15%);
    border-radius: 7px;
    background-color: hsl(6, 63%, 50%);
}
#data::-webkit-scrollbar-corner {
    display: none;
}

#data h2 {
    margin: 0 15px 0 15px;
    color: white;
    font-size: 20px;
}

#keys {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: hsl(223, 31%, 20%);
    width: 400px;
    height: 350px;
    border-radius: 7px;
}

#keys button {
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

#keys button:not(#keyEq, #keyRes){
    width: 60px;
    height: 40px;
    margin: 0 13px 0 13px;
    padding: 5px;
}

#keyEq, 
#keyRes {
    width: 147px;
    height: 40px;
    margin: 0 13px 0 13px;
    padding: 5px;
}

.attribution {
    margin: 25px;
    padding: 10px;
    font-size: 11px; 
    text-align:center;
}

.attribution a{
    color: hsl(228, 45%, 44%); 
}

@media(max-width: 428px) {
    #panel {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #upper-controls {
        width: 100%;
    }
    #data {
        width: 100%;
    }

    #keys {
        width: 100%;
    }

    #slider-input::-webkit-slider-runnable-track {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width: 359px) {
    #keys {
        justify-content: space-between;
    }
    #keyEq, #keyRes {
        width: 60px;
    }
    #keyEq {
        order: 15;
    }
    #keyDel {
        order: 13;
    }
    #keyRes {
        order: 14;
    }
    #key1, #key2, #key3 {
        order: 0;
    }
    #key4, #key5, #key6 {
        order: 1;
    }
    #key7, #key8, #key9 {
        order: 2;
    }
    #keyAdd {
        order: 3;
    }
    #key0 {
        order: 5;
    }
    #keySub {
        order: 4;
    }
    #keyDiv, #keyMult {
        order: 6;
    }
    #keyDec {
        order: 7;
    }
}